<!DOCTYPE html>
<html>
      <head>
           <title>Task5</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
        <div class="header1">
            <a href="/"> Home</a>
            <a href="/weather">Weather</a>
            <a href="/check">Check Weather</a>
        </div>
      </body>
</html>